<mat-toolbar color="primary">
    <span>Notea</span>
    
    <ul style="list-style: none;">
        <div>
            <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Nueva nota</a></li>
            <li><a routerLink="/notes" routerLinkActive="active">Notas</a></li>
            <li><a routerLink="/about" routerLinkActive="active">About</a></li>
        </div>
        
        <div>
            <li><a id="unlog" routerLink="/" routerLinkActive="active" (click)="deslog()">Desloggear</a></li>
        </div>
        
    </ul>
</mat-toolbar>
<!-- <img *ngIf="isloged == true" [src]="src" alt="Cargando..."> -->

<!-- <app-note [note]="{title:'test',description:'test'}"
(editNote)="this.editingNote($event)" (removeNote)="this.removingNote($event)"></app-note> -->
<router-outlet></router-outlet>
