<mat-toolbar color="primary">
    <span>My Application</span>
    
    <ul style="list-style: none;">
        <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Nueva nota</a></li>
        <li><a routerLink="/notes" routerLinkActive="active">Notas</a></li>
        <li><a routerLink="/about" routerLinkActive="active">About</a></li>
    </ul>
</mat-toolbar>
<button (click)="deslog()">desloggear</button>
<p>{{src}}</p>
<!-- <img *ngIf="isloged == true" [src]="src" alt="Cargando..."> -->

<!-- <app-note [note]="{title:'test',description:'test'}"
(editNote)="this.editingNote($event)" (removeNote)="this.removingNote($event)"></app-note> -->
<router-outlet></router-outlet>
